@{

    ViewData["Title"] = "Beer Page";

    MongoApi.Services.MongoInfo mongoInfo = (MongoApi.Services.MongoInfo)ViewData["mongoinfo"];
    String env = (String)ViewData["env"];
    
}

@section scripts
{
    <script>
        
        $(document).ready(function() {
            console.info("Init Beer.js");
             $('#newbeer-form').show();
            $('#newbeer-spinner').hide();
            loadBeer();
        });

    
        function clearTable () {
            $('#beer-list tbody tr').remove();
        }

        function fillTable (data) {
            
            data.forEach(function(entry) {
                $('#beer-list').append("<tr>"+
                "<td>" + entry.id + "</td>"+
                "<td>" + entry.beerName + "</td>" +
                "<td>" + entry.manufacturer + "</td>" +
                "<td>" + entry.price +"</td>" +
                "<td>" + entry.categoriy + "</td>" +
                "<td><button type='button' onclick='onRemoveBeer(this)' id='" + entry.id + "'' class='btn btn-danger'>Danger</button></td>" +
                "</tr>")
            });
        }

        function loadBeer () {
            var dataType = 'application/json; charset=utf-8';

            $.ajax({
                type: "GET",
                url: "api/Beer",
                contentType: dataType,
                success: fillTable,
                failure: function(errMsg) {
                    console.error(errMsg);
                }
            });
        }

        function clearForm () {
            $('#name').val(""),
            $('#manufacturer').val(""),
            $('#price').val(""),
            $('#category').val("")
        }
        function onRemoveBeer (element) {
            
            console.log(element.id);
            var dataType = 'application/json; charset=utf-8';

            $.ajax({
                type: "DELETE",
                url: "api/Beer/" + element.id,
                contentType: dataType,
                success: function(result){
                    
                    if(result){
                        clearTable();
                        loadBeer();
                    }
                },
                failure: function(errMsg) {
                    console.error(errMsg);
                }
            });

        }

        

        

        function onSubmitBeer()  {
             $('#newbeer-form').hide();
            $('#newbeer-spinner').show();
            
            var dataType = 'application/json; charset=utf-8';
            console.info("submitBeer");

            var jsonData = {
                BeerName: $('#name').val(),
                Manufacturer: $('#manufacturer').val(),
                Price: $('#price').val(),
                Category: $('#category').val()
            }

            
            $.ajax({
                type: "POST",
                url: "api/Beer",
                data: JSON.stringify(jsonData),
                dataType: "json",
                contentType: dataType,
                success: function(data){
                    console.info(data.BeerName);
                    clearTable();
                    clearForm();
                     $('#newbeer-form').show();
                    $('#newbeer-spinner').hide();
                    loadBeer(data);
                },
                failure: function(errMsg) {
                    console.error(errMsg);
                }
            });            
        }


    
    </script>
}

    <div class="text-centeree">
        <h1>Beer Collection</h1>

        @if (ViewData["beers"] != null)
        {
            <h6>MongoUrl: @mongoInfo.ConnectionString</h6>

        }

    <table id="beer-list" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>



        

        
             </tbody>
    </table>

    <h1>New Beer</h1>

    <div id="newbeer-spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <form id="newbeer-form">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="namelHelp">
        
    </div>
    <div class="mb-3">
        <label for="manufacturer" class="form-label">Manufacturer</label>
        <input type="text" class="form-control" id="manufacturer">
    </div>

    <div class="mb-3">
        <label for="manufacturer" class="form-label">Price</label>
        <input type="text" class="form-control" id="price">
    </div>

    <div class="mb-3">
        <label for="manufacturer" class="form-label">Catégorie</label>
        <input type="text" class="form-control" id="category">
    </div>
    
    <button type="button" onClick="onSubmitBeer()" class="btn btn-primary">Enregistrer</button>
    </form>

    
    </div>
