@{
    ViewData["Title"] = "Home Page";

    String env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    String mongoDbUrl = Environment.GetEnvironmentVariable("MONGODB_URL");
    String pipeDreamUrl = Environment.GetEnvironmentVariable("PIPEDREAM_URL");

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Configuration</h1>


@if (env == null)
{
    <div class="alert alert-danger" role="alert">
        La variable d'environnement ASPNETCORE_ENVIRONMENT n'est pas définie
    </div>
}else{
    <div class="alert alert-success" role="alert">
        La variable d'environnement ASPNETCORE_ENVIRONMENT est correctement configuré: @env
    </div>
}

@if (mongoDbUrl == null)
{
    <div class="alert alert-danger" role="alert">
        La variable d'environnement MONGODB_URL n'est pas définie
    </div>
}else{
    <div class="alert alert-success" role="alert">
        La variable d'environnement MONGODB_URL est correctement configuré: @mongoDbUrl
    </div>
}


@if (pipeDreamUrl == null)
{
    <div class="alert alert-danger" role="alert">
        La variable d'environnement PIPEDREAM_URL n'est pas définie
    </div>
}else{
    <div class="alert alert-success" role="alert">
        La variable d'environnement PIPEDREAM_URL est correctement configuré: @pipeDreamUrl
    </div>
}
    
</div>
