@{
    ViewData["Title"] = "Pipedream";

    String pipeDreamUrl = Environment.GetEnvironmentVariable("PIPEDREAM_URL");

}

@section scripts
{
    <script>
    
   $(function () {
       
       $('#pipedream_spinner').hide();
       $('#call_pipedream_btn').show();
       
   })


    function callPipeDream () {
        
        $('#pipedream_spinner').show();
        $('#call_pipedream_btn').hide();

        var dataType = 'application/json; charset=utf-8';

        $.ajax({
            type: "GET",
            url: "http://k8s.mongoapi.org/api/pipedream",
            contentType: dataType,
            success: function (data){
                console.log(data)
                $('#pipedream_zone').append("<div class='alert alert-secondary' role='alert'>test: " + data.test +", date: " + data.date +"</div>")
                $('#pipedream_spinner').hide();
                $('#call_pipedream_btn').show();
            },
            failure: function(errMsg) {
                console.error(errMsg);
            }
        });
    }

 
       
    
    </script>

}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1>Configuration</h1>


@if (pipeDreamUrl == null)
{
    <div class="alert alert-danger" role="alert">
        La variable d'environnement PIPEDREAM_URL n'est pas définie
    </div>
}else{
    <div class="alert alert-success" role="alert">
        La variable d'environnement PIPEDREAM_URL est correctement configuré: @pipeDreamUrl
    </div>
    
    
    <div id="pipedream_spinner" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div>
        <button id="call_pipedream_btn" type="button" class="btn btn-info call-pipedream-btn" onclick="callPipeDream()">Test API MongoDbApiTest</button>

        <div id="pipedream_zone"></div>
    </div>
}


    
</div>
